body{
    margin: 0;
    background-color: #FBE8DA;
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}
a{
    text-decoration: none;
    color: #FBE8DA;
}
p{
    font-size: 23px;
}
.info33{
    margin-top: 100px;

}
.Link1{
    margin-right: 140px;
    padding: 10px 20px;
    background-color: #5d0703;
    border-radius: 15px;
}
.Link2{
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #5d0703;
}
.otraCosa{
    display: flex;
}

.pez{
    height: 300px;
    width: 300px;
}
.fondo1{
    margin-left: 70px;
    border-radius: 50%;
    height:250px;
    width: 250px;
}

.fondoPequeño{
    width: 400px;
    height: 740px;
    background-color: #FFA175;
    border-radius: 100px;

}

.masTexto{
    margin-top:8%;
    display: flex;
} 
textarea{
    background-color: #5d0703;
    margin-top: 5%;
    color: #FBE8DA;
}

.info{
    margin-left: 45px;
    margin-top: 40px;
}

.LaOtraParte{
    width: 700px;
    margin-top: 70px;
    margin-left: 70px;
    font-size: 25px;
}
.fondo2{
    width: 800px;
    height: 300px;
    background-color: #FC703C;
    border-radius: 100px;
    margin-left: 70px;
}
.container{
    margin-left: 100px;
}
